.header {
  justify-content: space-between;
  align-items: center;
  padding: 0 40px;
  width: 100%;
}

.nav li a {
  font-family: 'Ubuntu';
  color: #FDFDFD;
  font-weight: 700;
  font-size: 20px;
  margin-right: 15px;
}

.banner {
  justify-content: center;
  background-color: #fff;
  padding: 125px 0 60px;
}

.banner .banner-title {
  width: 500px;
}

.banner h1 {
  font-family: 'Ubuntu';
  font-weight: 700;
  font-size: 60px;
  color: #FF4081;
}

.banner p {
  font-family: 'Ubuntu';
  margin: 20px 0 30px;
  font-weight: 400;
  font-size: 27px;
  color: #555555;  
}

.banner button {
  border: 2px solid #FF4081;
  height: 51px;
  width: 268px;
  border-radius: 62px;
  background-color: #fff;
}

.banner button a {
  font-family: 'Ubuntu';
  font-weight: 400;
  font-size: 25px;
  color: #FF4081;
}

.banner img {
  margin-left: 80px;
  height: 500px;
  width: 510px;
}

.money {
  justify-content: space-around;
  padding: 100px 0;
  background-color: #F7F7F7;
}

.money-card {
  align-items: center;
  flex-direction: column;
}

.money-card img {
  height: 270px;
  width: auto;
  margin-bottom: 20px;
}

.money-card h2 {
  font-family: 'Ubuntu';
  font-weight: 700;
  font-size: 25px;
  text-align: center;
  color: #FF4081;
  margin-bottom: 15px;
}

.money-card p {
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 300;
  font-size: 17px;
  text-align: center;
  color: #000000;
  margin-bottom: 15px;
}

.money-card button {
  width: 233px;
  height: 51px;
  background: #FF4081;
  border-radius: 62px;
  border: 0;
}

.money-card button a {
  font-family: 'Ubuntu';
  font-weight: 400;
  font-size: 20px;
  text-align: center;
  color: #FFFFFF;
}

.section-title {
  color: #009688;
  font-family: 'Nunito';
  font-weight: 700;
  font-size: 37px;
  margin-bottom: 70px;
}

.about {
  flex-direction: column;
  padding: 120px 125px 150px;
  background-color: #fff;
}

.about .testimonies {
  justify-content: space-between;
  flex-wrap: wrap;
}

.about .testimonies .testimony {
  align-items: center;
  margin-bottom: 70px;
}

.about .testimonies .testimony img {
  margin-right: 20px;
}

.about .testimonies .testimony p {
  font-family: 'Nunito';
  font-weight: 300;
  font-size: 18px;
  color: #000000;
}

.blog {
  padding: 120px 125px 150px;
  background-color: #F7F7F7;
  flex-direction: column;
}

.blog .articles {
  justify-content: space-between;
  margin-bottom: 100px;
}

.blog .articles h2 {
  font-family: 'Ubuntu';
  font-weight: 700;
  font-size: 27px;
  color: #009688;
}

.blog .articles p {
  font-family: 'Ubuntu';
  font-weight: 400;
  font-size: 17px;
  color: #000000;
}

.blank-rectangle {
  width: 319px;
  height: 193px;
  background: #C4C4C4;
  margin-bottom: 10px;
}

.blog .see-all {
  align-self: center;
}

.blog .see-all button {
  width: 289px;
  height: 51px;
  border: 2px solid #FF4081;
  border-radius: 62px;
  background-color: #F7F7F7;
}

.blog .see-all button a {
  font-family: 'Ubuntu';
  font-weight: 400;
  font-size: 25px;
  color: #FF4081;
}

@media (max-width:1210px) {
  .blog .articles h2 {
    font-size: 20px;
  }

  .blog .articles p {
    font-size: 12px;
  }

  .blank-rectangle {
    width: 239px;
    height: 113px;
  }
}

@media (max-width:1000px) {
  .banner {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px 30px 60px;
  }

  .banner .banner-title {
    display: flex;
    flex-direction: column;
    width: 600px;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
  }

  .banner h1 {
    font-size: 45px;
    text-align: center;
  }
  
  .banner img {
    margin-left: 0;
    height: 400px;
    width: 410px;
  }
}

@media (max-width:965px) {
  .blank-rectangle {
    width: 200px;
    height: 100px;
  }
}
  
@media (max-width:850px) {
  .banner .banner-title {
    width: auto;
  }

  .banner h1 {
    font-size: 35px;
  }
  
  .banner p {
    text-align: center;
  }

  .banner img {
    height: 300px;
    width: 310px;
  }

  .section-title {
    text-align: center;
  }

  .money {
    flex-direction: column;
    padding: 100px 0;
  }

  .money-card {
    margin-bottom: 40px;
  }

  .articles {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .articles div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-bottom: 20px;
  }
}

@media (max-width:550px) {  
  .about {
    padding: 80px 70px 90px;
  }

  .blog {
    padding: 80px 70px 90px;
  }

  .section-title {
    font-size: 30px;
  }

  .about .testimonies .testimony {
    flex-direction: column;
  }
  
  .about .testimonies .testimony img {
    margin-right: 0;
    margin-bottom: 20px;
  }

  .about .testimonies .testimony p {
    text-align: center;
  }
}